<div class="pb-0 pb-sm-2">
	<h1 class="title title--h1 title__separate">Skills</h1>
</div>
<!-- <div class="fix-content">
	<div class="map" id="map">
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7146.492224605198!2d80.30809282043838!3d26.415533274628817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1615103858463!5m2!1sen!2sin"
			style="border:0;" frameborder="0" allowfullscreen=""></iframe>
	</div>
	<h2 class="title title--h2">Contact Form</h2>

	<form id="contact-form" class="contact-form" data-toggle="validator" style="padding-inline: 15px">
		<div class="row">
			<div class="form-group col-12 col-md-6">
				<input type="text" class="input form-control" id="nameContact" name="nameContact"
					placeholder="Full name" required="required" autocomplete="on"
					oninvalid="setCustomValidity('Fill in the field')" onkeyup="setCustomValidity('')">
				<div class="help-block with-errors"></div>
			</div>
			<div class="form-group col-12 col-md-6">
				<input type="email" class="input form-control" id="emailContact" name="emailContact"
					placeholder="Email address" required="required" autocomplete="on"
					oninvalid="setCustomValidity('Email is incorrect')" onkeyup="setCustomValidity('')">
				<div class="help-block with-errors"></div>
			</div>
			<div class="form-group col-12 col-md-12">
				<textarea class="textarea form-control" id="messageContact" name="messageContact"
					placeholder="Your Message" rows="4" required="required"
					oninvalid="setCustomValidity('Fill in the field')" onkeyup="setCustomValidity('')"></textarea>
				<div class="help-block with-errors"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6 order-2 order-md-1 text-center text-md-start">
				<div id="validator-contact" class="hidden"></div>
			</div>
			<div class="col-12 col-md-6 order-1 order-md-2 text-end">
				<button type="submit" class="btn"><i class="font-icon icon-send"></i> Send Message</button>
			</div>
		</div>
	</form>
</div> -->

<app-skills></app-skills>