<div class="nav-container">
        <ul class="nav">
                <li class="nav__item">
                        <a routerLinkActive="active" [routerLink]="['/about']">About</a>
                </li>
                <li class="nav__item">
                        <a routerLinkActive="active" [routerLink]="['/resume']">Resume</a>
                </li>
                <li class="nav__item" (click)="reloadPage()">
                        <a routerLinkActive="active" [routerLink]="['/skills']">Skills</a>
                </li>
                <li class="nav__item">
                        <a routerLinkActive="active" [routerLink]="['/portfolio']">Portfolio</a>
                </li>
                <li class="nav__item">
                        <a routerLinkActive="active" [routerLink]="['/blog']">Blog</a>
                </li>
        </ul>
</div>