<!-- Skills -->
<div class="fix-content">
     <h2 class="title title--h2 mt-3">Programming Skills</h2>
     <div class="box box-inner mb-0">
          <!-- Web Design -->
          <ng-container *ngFor="let mySkill of skills">
               <div class="progress">
                    <div class="progress-text"><span>{{mySkill.name}}</span> {{mySkill.percentageTxt}}</div>
                    <div class="progress-bar"><span role="progressbar" [attr.aria-valuenow]="mySkill.percentage"
                              aria-valuemin="0" aria-valuemax="100"></span></div>
               </div>
          </ng-container>
          <!-- <div class="progress">
               <div class="progress-text"><span>HTML 5</span> 100%</div>
               <div class="progress-bar"><span role="progressbar" [attr.aria-valuenow]="100"
                         [attr.aria-valuemin]="0" [attr.aria-valuemax]="100"></span></div>
          </div>
          <div class="progress">
               <div class="progress-text"><span>CSS & SCSS</span> 100%</div>
               <div class="progress-bar"><span role="progressbar" [attr.aria-valuenow]="100"
                         [attr.aria-valuemin]="0" [attr.aria-valuemax]="100"></span></div>
          </div>
          <div class="progress">
               <div class="progress-text"><span>Bootstrap</span> 100%</div>
               <div class="progress-bar"><span role="progressbar" [attr.aria-valuenow]="100"
                         [attr.aria-valuemin]="0" [attr.aria-valuemax]="100"></span></div>
          </div>
          <div class="progress">
               <div class="progress-text"><span>JS & ES</span> 70%</div>
               <div class="progress-bar"><span role="progressbar" [attr.aria-valuenow]="70"
                         [attr.aria-valuemin]="0" [attr.aria-valuemax]="100"></span></div>
          </div>
          <div class="progress">
               <div class="progress-text"><span>JQuery</span> 70%</div>
               <div class="progress-bar"><span role="progressbar" [attr.aria-valuenow]="70"
                         [attr.aria-valuemin]="0" [attr.aria-valuemax]="100"></span></div>
          </div>
          <div class="progress">
               <div class="progress-text"><span>Angular</span> 85%</div>
               <div class="progress-bar"><span role="progressbar" [attr.aria-valuenow]="85"
                         [attr.aria-valuemin]="0" [attr.aria-valuemax]="100"></span></div>
          </div>
     </div> -->

     <h2 class="title title--h2 mt-3">Tools / Frameworks</h2>
     <div class="box box-inner mb-0">
          <!-- Web Design -->
          <!-- <ng-container *ngFor="let mySkill of tools">
               <div class="progress">
                    <div class="progress-text"><span>{{mySkill.name}}</span> {{mySkill.percentageTxt}}</div>
                    <div class="progress-bar"><span role="progressbar" [attr.aria-valuenow]="mySkill.percentage"
                              aria-valuemin="0" aria-valuemax="100"></span></div>
               </div>
          </ng-container> -->
          <div class="progress">
               <div class="progress-text"><span>Shopify</span> 70%</div>
               <div class="progress-bar"><span role="progressbar" [attr.aria-valuenow]="70"
                         [attr.aria-valuemin]="0" [attr.aria-valuemax]="100"></span></div>
          </div>
          <div class="progress">
               <div class="progress-text"><span>Liferay</span> 45%</div>
               <div class="progress-bar"><span role="progressbar" [attr.aria-valuenow]="45"
                         [attr.aria-valuemin]="0" [attr.aria-valuemax]="100"></span></div>
          </div>
          <div class="progress">
               <div class="progress-text"><span>Canva</span> 95%</div>
               <div class="progress-bar"><span role="progressbar" [attr.aria-valuenow]="95"
                         [attr.aria-valuemin]="0" [attr.aria-valuemax]="100"></span></div>
          </div>
          <div class="progress">
               <div class="progress-text"><span>Directus</span> 70%</div>
               <div class="progress-bar"><span role="progressbar" [attr.aria-valuenow]="70"
                         [attr.aria-valuemin]="0" [attr.aria-valuemax]="100"></span></div>
          </div>
     </div>
</div>
