<!-- Skills -->
<div class="fix-content">
     <h2 class="title title--h2 mt-3">Programming Skills</h2>
     <div class="box box-inner mb-0">
          <!-- Web Design -->
          <ng-container *ngFor="let mySkill of skills">
               <div class="progress">
                    <div class="progress-text"><span>{{mySkill.name}}</span> {{mySkill.percentageTxt}}</div>
                    <div class="progress-bar"><span role="progressbar" [attr.aria-valuenow]="mySkill.percentage"
                              aria-valuemin="0" aria-valuemax="100"></span></div>
               </div>
          </ng-container>
     </div>

     <h2 class="title title--h2 mt-3">Tools / Frameworks</h2>
     <div class="box box-inner mb-0">
          <!-- Web Design -->
          <ng-container *ngFor="let mySkill of tools">
               <div class="progress">
                    <div class="progress-text"><span>{{mySkill.name}}</span> {{mySkill.percentageTxt}}</div>
                    <div class="progress-bar"><span role="progressbar" [attr.aria-valuenow]="mySkill.percentage"
                              aria-valuemin="0" aria-valuemax="100"></span></div>
               </div>
          </ng-container>
     </div>
</div>