<!-- About -->
<div class="pb-0 pb-sm-2">
     <h1 class="title title--h1 title__separate">Blog</h1>
</div>
<div class="fix-content">
     <!-- News -->
     <div class="news-grid" style="margin-left: 0; margin-right: 0;">
          <!-- Post -->
          <ng-container *ngFor="let bData of blogData">
               <article class="news-item box">
                    <div class="news-item__image-wrap">
                         <a target="_blank" class="news-item__link" href="{{bData.webLink}}"></a>
                         <img class="cover lazyload" src="{{bData.img}}" alt="" />
                    </div>
                    <div class="news-item__caption">
                         <div class="news-item__date"><span>{{bData.tag}}</span>{{bData.date}}</div>
                         <h2 class="title title--h2"><a target="_blank" href="{{bData.webLink}}">{{bData.title}}</a></h2>
                         <p>{{bData.short_desc}}</p>
                    </div>
               </article>
               
          </ng-container>
     </div><!-- /news-grid -->
</div>

<!-- <div class="fix-content"> 
    <div class="gallery-grid js-masonry js-filter-container">
        <div class="gutter-sizer"></div>
        <ng-container *ngFor="let pData of projectData">
            <div class='gallery-grid__item {{pData.categoryClass}}'>
                <div class="swiper-slide js-open-review" data-toggle="modal" attr.data-target="#porfolioModal{{pData.id}}"
                    data-effect="mfp-zoom-out">
                    <div class="gallery-grid__image-wrap">
                        <img class="gallery-grid__image cover lazyload" src="{{pData.img}}" alt="Project" />
                    </div>
                    <div class="gallery-grid__caption">
                        <h3 class="title gallery-grid__title">{{pData.name}}</h3>
                        <span class="gallery-grid__category">{{pData.category}}</span>
                    </div>
                </div>
            </div>    
            <div class="modal fade" id="porfolioModal{{pData.id}}" data-backdrop="static" data-keyboard="false" tabindex="-1"
                aria-labelledby="testimonialLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content popup mfp-with-anim">
                        <span class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times;</span>
                        <div class="row">
                            <div class="col-12 col-sm-2 full-rewiew-con-avatar">
                                <figure class="box">
                                    <img src="{{pData.img}}" alt="">
                                </figure>
                                <div class="review-icon-quote"></div>
                            </div>
                            <div class="col-12 col-sm-10 full-rewiew-con-text">
                                <h2 class="title title--h2 mb-1">{{pData.name}}</h2>
                                <a target="_blank" href="{{pData.webLink}}" >Visit <i style="font-size: 8px;" class="font-icon icon-send"></i></a>
                                <p>{{pData.desc}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div> -->
