<h1 class="title title--h1 title__separate">About Me</h1>
<div class="fix-content">
               <div class="pb-0 pb-sm-2">
                    <p>I'm Creative UI/UX Developer from Kanpur, India, working in web development. I enjoy turning complex problems into simple, beautiful and intuitive designs.</p>
                    <p>My job is to build your website so that it is functional and user-friendly but at the same time attractive. Moreover, I add personal touch to your product and make sure that is eye-catching and easy to use. My aim is to bring across your message and identity in the most creative way. I created web design for many companies.</p>
               </div>
     <!-- About -->
     
     
     <!-- WhatI am doing -->
     <h2 class="title title--h2 mt-3">What I'm Doing</h2>
     <div style="padding-inline: 15px;">
          <div class="row">
               <ng-container *ngFor="let workD of work">
                    <div class="col-12 col-lg-6">
                         <div class="case-item box box-inner">
                              <img class="case-item__icon" src="{{workD.image}}" alt="" />
                              <div>
                                   <h3 class="title title--h3">{{workD.title}}</h3>
                                   <p class="case-item__caption">{{workD.content}}</p>
                              </div>
                         </div>
                    </div>

               </ng-container>
          </div>
     </div>
     <!-- <app-testimonials></app-testimonials> -->
     <!-- <app-clients></app-clients> -->
</div>