<div class="sidebar box-outer sticky-column" style="height: 100%;">
     <!-- My photo -->
     <div class="sidebar__base-info">
          <figure class="avatar-box">
               <img src="assets/images/my-avatar.png" alt="Prathu Tripathi">
          </figure>

          <div class="text-xl-center">
               <h3 class="title title--h3 sidebar__name">Prathu Tripathi</h3>
               <div class="badge">Software Engineer</div>
          </div>

          <button class="btn btn--small btn--icon-right sidebar__btn js-btn-toggle"><span>Show Contacts</span><i
                    class="feathericon-chevron-down"></i></button>
     </div>

     <div class="sidebar__additional-info js-show">
          <div class="separation"></div>
          <ul class="details-info">
               <!-- Email -->
               <li class="details-info__item">
                    <span class="box icon-box"><i class="font-icon icon-envelope"></i></span>
                    <div class="contacts-block__info">
                         <span class="overhead">Email</span>
                         <a class="text-overflow" href="mailto:prathutripathee@gmail.com"
                              title="prathutrpathee@gmail.com">prathutripathee@gmail.com</a>
                    </div>
               </li>
               <!-- Phone -->
               <li class="details-info__item">
                    <span class="box icon-box"><i class="font-icon icon-phone"></i></span>
                    <div class="contacts-block__info">
                         <span class="overhead">Mobile</span>
                         <a href="tel:+917355732435" class="text-overflow">+91 7355732435</a>
                    </div>
               </li>
               <li class="details-info__item">
                    <span class="box icon-box"><i class="font-icon icon-location"></i></span>
                    <div class="contacts-block__info">
                         <span class="overhead">Residence</span>
                         <span class="text-overflow" title="San-Francisco, USA">India</span>
                    </div>
               </li>

               <li class="details-info__item">
                    <span class="box icon-box"><i class="font-icon icon-smile"></i></span>
                    <div class="contacts-block__info">
                         <span class="overhead">Address</span>
                         <span class="text-overflow" title="San-Francisco, USA">Kanpur UP</span>
                    </div>
               </li>

               <li class="details-info__item">
                    <a target="_blank" href="https://drive.google.com/file/d/1kbOWiNhhOW_O-JSDQS6MoAfoD8vDjhvU/view?usp=sharing" class="box icon-box downloadBtn"><i class="font-icon icon-download mx-2"></i> Download Resume</a>
               </li>
          </ul>
          <div class="separation d-xl-none"></div>

          <!-- Social -->
          <div class="social">
               <a class="social__link" target="_blank" href="https://www.facebook.com/prathu.tripathi.5/"><i class="feathericon-facebook"></i></a>
               <!-- <a class="social__link" target="_blank" href="https://twitter.com/prathutripathee"><i class="feathericon-twitter"></i></a> -->
               <a class="social__link" target="_blank" href="https://www.instagram.com/prathutiwari06/"><i class="feathericon-instagram"></i></a>
               <!-- <a class="social__link" target="_blank" href="https://github.com/Prathu05"><i class="feathericon-github"></i></a> -->
               <a class="social__link" target="_blank" href="https://www.linkedin.com/in/prathu-tripathi-24b1221ab/"><i class="feathericon-linkedin"></i></a>
          </div>
          <p style="text-align: center;font-size: 10px;margin-bottom: 0;">© 2023 All rights reserved.</p>
     </div>
</div>