
.projects{
     margin-bottom: 10px;
     .websiteHeading{
          font-weight: 600;
          margin-bottom: 0;
     }
     .projectDetail{
          padding-left: 15px;
          p,a{
               font-size: 12px;
          }
     }
     
}

.badge{
     font-size: 10px;
     padding: 5px 12px;
     border-radius: 5px;
     margin-left: 6px;
}